.Rproj.user
.Rhistory
.RData
.Ruserdata
inst/doc
inst/slides/
*.o
*.so
*.dll
TODO
.DS_Store
*.pdf
*.html
*.rnw
Meta/
doc/
docs/
.local-r-lib/
/*.tar.gz
/*.Rcheck/
output/
vignettes/*.html
vignettes/*.R
