language: R
cache: packages

r_github_packages:
  - r-lib/covr

after_success:
  - Rscript -e 'covr::coveralls()'

before_deploy: Rscript -e 'remotes::install_cran("pkgdown")'
deploy:
  provider: script
  script: Rscript -e 'pkgdown::deploy_site_github()'
  skip_cleanup: true
