body {
  font-family: "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 14px;
  line-height: 1.35;
  max-width: 700px;
  margin: 1.5em auto;
  padding: 0 1em;
}
pre, code {
  background-color: #f7f7f7;
  border-radius: 3px;
  font-size: 90%;
}
pre {
  padding: 10px;
  white-space: pre-wrap;
}
.lt-table {
  min-width: 70%;
}
