useDynLib(gsDesign)
export(gsDesign,gsProbability,gsCP,gsBoundCP,print.gsDesign,plot.gsDesign,print.gsProbability,plot.gsProbability)
export(nSurvival,normalGrid,sfPower,sfHSD,sfExponential,sfBetaDist,sfLDOF,sfLDPocock,sfPoints,sfLogistic,sfExtremeValue,sfExtremeValue2,sfCauchy,sfNormal,sfTDist,spendingFunction)
export(simBinomial,testBinomial,nBinomial,gsbound,gsbound1)
export(checkScalar,checkVector,checkRange,checkLengths,isInteger)
